.body {
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.header-image-logo {
    max-width: 20px;
    max-height: 20px;
    margin: 5px;
    padding: 5px;
}

.header-image-quartz {
    max-width: 280px;
    max-height: 260px;
    padding: 50px;
}

.header-top {
    display: flex;
    justify-content: space-evenly;
    flex: 1 1 0;
    margin: 10px;
    gap: 300px;
}

.header-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.header-intro {
    width: 400px;
    font-size: 48px;
    font-weight: bolder;
    color: #e5e7eb;
    margin: 4px;
}

.header-paragraph {
    width: 300px;
    color: #e5e7eb;
    width: 250px;    
    font-size: 18px;
    margin: 4px;
}

ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
    color: white
}

.header-bottom-text {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.header-button {
    max-width: 70px;
    background-color: #3882f6;
    margin: 4px;
    color: white;
    border-radius: 25px;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.main-title {
    display: flex;
    justify-content: center;
    color: #1f2937;
}

.image-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 20px;
    width: auto;
    color:#1f2937
}

.slider-image {
    width: 180px;
    height: 140px;
    border: 2px solid #3882f6;
    border-radius: 25px;
}

.info {
    max-width: 150px;
}

.quote {
    display: flex;
    padding: 200px;
    max-height: 250px;
    background-color: #e5e7eb; 
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    margin: 100px;
    color: #e5e7eb;
    border-radius: 25px;
}

.action-left {
    max-width: 300px;
}

.action-button {
    background-color: #3882f6;
    border: 2px solid white;
    color: #e5e7eb;
    border-radius: 25px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    background-color: #1f2937;
    height: 80px;
}
